<?xml version="1.0" encoding="utf-8" ?>
<XnaContent>
  <Asset Type="Asteroids.Config">
    
    <!-- Graphic Config -->
    <ScreenWidth>1280</ScreenWidth>
    <ScreenHeight>720</ScreenHeight>
    <IsFullScreen>false</IsFullScreen>
    <PreferMultiSampling>true</PreferMultiSampling>

    <!-- Keyboard Controls -->
    <Keyboard>
      <Thrust>Up</Thrust>
      <Left>Left</Left>
      <Right>Right</Right>
      <Action>Space</Action>
    </Keyboard>

    <!-- GamePad Controls -->
    <GamePad>
      <Thrust>0</Thrust>
      <Left>0</Left>
      <Right>0</Right>
      <Action>1338</Action>
    </GamePad>
    
  </Asset>
</XnaContent>
